.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.login-form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.login-input-form {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 5px 0px;
}

.login-input {
    height: 20px;
}

.login-btn-form {
    height: 30px;
    display: flex;
    justify-content: center;
}

.login-btn {
    border: none;
    border-radius: 5px;
    background-color: #aceaea;
    width: 80%;
}