<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create-task</title>
    <th:block th:replace="/fragments/nav-fragment.html :: nav-header"/>
    <th:block th:replace="/fragments/side-menu-fragment.html :: side-menu-header"/>
    <link rel="stylesheet" th:href="@{/css/task-create.css}">
    <script type="text/javascript">
        function milestoneVisible() {
            const milestone = document.getElementById("milestoneId");

            milestone.style.visibility = "visible";
        }

        function milestoneHidden() {
            const milestone = document.getElementById("milestoneId");

            milestone.style.visibility = "hidden";
        }

        function tagButton() {
            const tagSelect = document.getElementById("tagSelectId");

            if (tagSelect.style.visibility === "visible") {
                tagSelect.style.visibility = "hidden";
            } else {
                tagSelect.style.visibility = "visible";
            }
        }
    </script>
</head>
<body>
<nav th:replace="/fragments/nav-fragment.html :: nav"></nav>
<div style="display: flex">
    <nav th:replace="/fragments/side-menu-fragment.html :: side-menu"></nav>
    <div>
        <form th:action="@{__${#request.requestURI}__}" method="post">
            <h1>업무 등록</h1>
            <div>
                <label for="taskTitleInput">제목</label>
                <input id="taskTitleInput" type="text" name="title">
            </div>
            <div>
                <label>내용</label>
                <div>
                    <textarea id="taskContentInput" name="content" rows="10" cols="100"></textarea>
                </div>
            </div>
            <div>
                <input id="milestoneYes" type="radio" name="milestone" value="yes" onclick="milestoneVisible()">
                <label for="milestoneYes">있음</label>
                <input id="milestoneNo" type="radio" name="milestone" value="no" checked="checked"
                       onclick="milestoneHidden()">
                <label for="milestoneNo">없음</label>
                <div id="milestoneId" class="milestone-visibility">
                    <label for="milestoneNameId">마일스톤명</label>
                    <input id="milestoneNameId" type="text" name="milestoneName">
                    <input type="date" name="milestoneStartDate">
                    <input type="date" name="milestoneEndDate">
                    <span>기한</span>
                    <input id="deadlineStatusYes" type="radio" name="deadlineStatus">
                    <label for="deadlineStatusYes">있음</label>
                    <input id="deadlineStatusNo" type="radio" name="deadlineStatus">
                    <label for="deadlineStatusNo">없음</label>
                </div>

            </div>
            <button type="button" onclick="tagButton()">태그</button>
            <div id="tagSelectId" class="tag-select-visibility">
                <div class="tag-select">
                    <div th:each="tag : ${tagList}">
                        <input type="checkbox" name="tags" th:value="${tag.tagId}">
                        <span th:text="${tag.tagName}"></span>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit">등록</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>